:root {
  --bgc-a-box: pink;
}
.a {
  width: 300px; height: 100px;
  background-color: var(--bgc-a-box);
}
.b {
  --bgc-a-box: orange;
  width: 300px; height: 100px;
  background-color: var(--bgc-a-box);
}
.c {
  width: 300px; height: 100px;
  background-color: var(--bgc-a-box);
}
